*{
    box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#grid-size-wrapper{
	/* border: 1px solid black; */
}
.slider{
	display: block;
	width: 100%;
}

.game-container {
	width: 55%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	/* border: 1px solid red; */
}

.canvas {
	border: 1px solid black;
	display: grid;
    aspect-ratio: 1/1;
}
.pixel {
	border: 1px solid black;
    aspect-ratio: 1/1;
}
.no-border{
	border: 0px solid black;
}

.menu {
	/* border: 1px solid blue; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	padding: 0 1em;
}

